/* Basic Animation */

.box {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: moveRight;
  animation-duration: 2s;
}

@keyframes moveRight {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}

/* Repeated Animation */

.box {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: moveRight;
  animation-duration: 2s;
  animation-iteration-count: 3;
  animation-timing-function: ease-in-out;
}

/* Animation Speed */

/* linear  (same speed)

ease  (slow start, fast middle, slow end)

ease-in (slow start)

ease-out (slow end) */

.hover-box {
  width: 100px;
  height: 100px;
  background: blue;
  transition: transform 0.5s ease-in-out;
}

.hover-box:hover {
  transform: scale(1.2);
}
