.box {
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
  animation-name: moveRight;
  animation-duration: 2s;
}

@keyframes moveRight {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
