h1{

    
    text-align: center;
    font-size: 50px;
    color: blueviolet;
    text-transform: uppercase;
    text-decoration: underline;
    width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #b86a6a;
  border-radius: 4px;
  box-sizing: border-box;
    }

div{

    padding: 60px;
    text-align: center;
    font-size: 50px;
    color: rgb(226, 43, 58);
    
}
